.container {
  padding: 0 20px;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
    max-width: 1440px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 20px;
  }
}
