@import "../../theme/abstract/veriables";

.main {
  padding-top: 200px;
}

.content_wrapper {
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 24px;
}

.title {
  font-family: var(--secondary-font-family);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 100% */
  text-transform: uppercase;

  margin-bottom: 24px;
}

.text {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  margin-bottom: 24px;
  max-width: 320px;
}

.scroll_link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 141px;
  padding: 4px 4px 4px 16px;

  border-radius: 500px;
  border: 1px solid var(--accent-color);

  line-height: 18px; /* 112.5% */
  letter-spacing: -0.64px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.scroll_link svg {
  stroke: #173d33;
}

.scroll_link:hover,
.scroll_link:focus {
  background-color: #173d33;
  color: var(--accent-color);
}

.arrowWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 8px;
  background-color: var(--accent-color);
  margin-left: 11px;
}

.info_wrapper {
  padding-top: 24px;
  padding-bottom: 36px;
}

.map_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  display: none;
}

@media screen and (min-width: 768px) {
  .content_wrapper {
    display: flex;
    gap: 65px;
  }

  .title {
    max-width: 300px;

    font-size: 48px;
    line-height: 48px; /* 100% */
  }

  .text {
    min-width: 344px;
    margin-bottom: 45px;
  }

  .scroll_link {
    margin: 0;
  }

  .copy {
    display: block;
  }

  .info_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .content_wrapper {
    justify-content: space-between;
  }

  .title {
    max-width: 485px;

    font-size: 64px;
    line-height: 64px; /* 100% */
  }

  .text {
    min-width: 363px;
  }
}
