.contact {
  margin-bottom: 36px;
  &_title {
    font-family: var(--secondary-font-family);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 100% */
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &_list_item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.text {
  margin-bottom: 8px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  & svg {
    stroke: #173d33;
    transition: all 0.3s ease;
  }

  &:hover svg,
  &:hover svg {
    stroke: var(--accent-color);
  }

  & a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    transition: all 0.3s ease;
  }
}

.phone,
.mail {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.social_wrapper {
  padding: 12px;
}

@media screen and (min-width: 768px) {
  .contact {
    &_container {
      display: flex;
      justify-content: space-between;
    }

    &_title {
      margin-bottom: 40px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    & a {
      font-size: 24px;
    }
  }
}
