.header {
  padding-top: 36px;
  padding-bottom: 146px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
}

.logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  //   gap: 4px;
}

.burger_btn {
  height: 39px;
  padding: 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 500px;
  background: #dcefd8;

  border: none;

  transition: background-color 0.3s ease;
}

.burger_btn:hover,
.burger_btn:focus {
  background-color: var(--accent-color);
}

.get_touch {
  display: none;
  border-radius: 500px;
  background: var(--accent-color);
  padding: 10px 16px;

  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.get_touch:hover,
.get_touch:focus {
  background-color: #173d33;
  color: var(--accent-color);
}

@keyframes changeSize {
  0% {
    transform: scale(1); /* Початковий розмір */
  }
  100% {
    transform: scale(1.2); /* Кінцевий розмір */
  }
}

.touch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #173d33;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  transition: all 0.3s ease;

  animation: changeSize 2s infinite alternate;
}

.get_touch:hover .touch,
.get_touch:focus .touch {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .get_touch {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
