@font-face {
  font-family: "All Round Gothic Font Family", sans-serif;
  src: url("./Fontspring-DEMO-allroundgothic-medium.otf") format("woff2");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "CA Saygon Text Thin", sans-serif;
  src: url("./CASaygonText-Regular.woff2") format("woff2"),
    url("./CASaygonText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
